.Missing{
    width: 350px;
    height: 250px;
    border-right: 2px;
    padding:15px 40px;
    box-shadow: 3px 3px 6px #5e328387;
    display: flex;
    background-color: #9f9f9f29;
    flex-direction: column;
    justify-content: center;
    font-size:0.8rem;
}
.Missing:hover{
    transform:scale(1.03);
    transition:0.3s;
    cursor:pointer;

}
#Head{
    margin:0px
}
.myPtag{
    margin:0px;
    display:list-item;
}
.vehicle-info{
    line-height:10px
}

.bottom-part{
    display:flex;
    justify-content:space-between;
    align-items:center
}

#text p{
    margin:0px
}
.img img{
    width:120px;
    border:1px solid grey;
    border-radius:2px
}

#outerp{
    margin-bottom:25px
}
#innerp{
    margin: 7px 5px;
    font-size: 0.8rem;
    background: grey;
    padding: 6px;
    width: 116px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}